version: '3.8'

services:
  db-app:
    image: postgres:15.1-alpine
    container_name: db-app
    volumes:
      - ./pg-data:/var/lib/postgresql/data/
    ports:
      - 5433:5432
    env_file:
      - .docker-app.env
    networks:
      - default
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${DB_NAME} -U $${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 3

  cache-app:
    image: redis:6.2-alpine
    container_name: cache-app
    volumes:
      - ./redis-conf:/conf
    env_file:
      - .docker-app.env
    command: "redis-server /conf/default.conf"
    networks:
      - netcache
    ports:
      - 6381:6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10

  api-app:
    build:
      context: ./src
      dockerfile: Dockerfile
    container_name: api-app
    command: |
      bash -c 'alembic upgrade head && uvicorn app.main:app --reload --workers 1 --host 0.0.0.0 --port 8000'
    volumes:
      - ./src:/src
    ports:
      - 8000:8000
    env_file:
      - .docker-app.env
    networks:
      - default
      - netcache
    depends_on:
      db-app:
        condition: service_healthy
      cache-app:
        condition: service_healthy

networks:
  netcache: {}
