version: '3.8'

services:
  db:
    image: postgres:15.1-alpine
    volumes:
      - pgdata-test/:/var/lib/postgresql/data/
    ports:
      - 5433:5432
    env_file:
      - .docker-test.env
    networks:
      - default
  web:
    build: 
      context: ./src
      dockerfile: Dockerfile-test
    command: |
      bash -c 'alembic upgrade head && pytest'
    volumes:
      - app-test:/src
    ports:
      - 8080:8000
    env_file:
      - .docker-test.env
    networks:
      - default
    depends_on:
      - db

volumes:
  pgdata-test:
  app-test:
