version: '3.8'

services:
  db:
    image: postgres:15.1-alpine
    volumes:
      - pgdata/:/var/lib/postgresql/data/
    ports:
      - 5433:5432
    env_file:
      - .docker.env
    networks:
      - default
  web:
    build: ./src
    command: |
      bash -c 'alembic upgrade head && uvicorn app.main:app --reload --workers 1 --host 0.0.0.0 --port 8000'
    volumes:
      - app:/src
    ports:
      - 8000:8000
    env_file:
      - .docker.env
    networks:
      - default
    depends_on:
      - db

volumes:
  pgdata:
  app:
